body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head {
    text-align: left;
    color: black;
    font-weight: bold;
    display: inline-block;
    margin: 0;
}
.contain {
    width: 80%;
    margin: 0 auto;
    max-width: 1500px;
}
header {
    position: relative;
    background-image: url(../images/high-angle-view-houses-snowy-mountain-landscape.jpg);
    background-size: cover;
    background-position: center;
    height: 25rem;
    background-repeat: no-repeat;
    padding: 1rem 0;
    backdrop-filter: blur(10px);
}
nav {
    display: inline-block;
    float: right;
}
ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-left: 1.5rem;
    list-style: none;
}
li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-left: 1.5rem;
    list-style: none;
}
a {
    display: inline-block;
    color: black;
    text-decoration: none;
}
.icon {
    color: black;
    margin: 0 0.5rem;
    text-align: center;
    display: inline-block;
    margin-top: 20rem;
    margin-right: 2rem;
}
.iconcontainer {
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    display: flex;
    height: 15rem;
}
.email {
    padding: 20px;
    min-width: 200px;
}
section {
    min-height: calc(100vh - 40rem);
}
.nav2 {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
section nav {
    
    background-color:rgb(25, 87, 132);
    background-repeat: no-repeat;
    color: #100202;
    padding: 1em;
    margin-bottom: 20px;
    
}
section nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
section nav ul li {
    display: inline;
    margin-right: 20px;
}
section nav ul li a {
    color: #fff;
    text-decoration: none;
}
.article1 {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
}
.article1 img {
    width: 100%;
    height: auto;
   
}
.pr {
    margin-top: 20px;
}
.pr h2 {
    margin: 0;
}
.pr p {
    margin: 10px 0;
}
.top {
    flex: 1;
    margin-left: 20px;
}
.top h3 {
    margin: 0;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
.pr2 {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.pr2 img {
    margin-right: 10px;
}
.pr2 p {
    margin: 0;
}
.pr3 {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.imgc {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}
.imgc img {
    width: 100%;
    height: auto;
}
.imgc p {
    margin-top: 10px;
}
